<h2 i18n>Item details</h2>
<div class="item-details-table">
  <div class="item-details-row">
    <div class="item-details-cell item-details-field" i18n>Name:</div>
    <div class="item-details-cell">{{menuItem?.name}}</div>
  </div>
  <div class="item-details-row">
    <div class="item-details-cell item-details-field" i18n>Length:</div>
    <div class="item-details-cell">{{menuItem?.length}}</div>
  </div>
  <div class="item-details-row">
    <div class="item-details-cell item-details-field" i18n>Width:</div>
    <div class="item-details-cell">{{menuItem?.width}}</div>
  </div>
</div>
